.signpage {
    background: #ACCCF8;
    min-height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signsection_wrapper {
    min-height: calc(100vh - 96px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signsection {
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 25px;
    background: #FFF;
    overflow: hidden;
    box-shadow: 0px 4px 92px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;

}

.signsection__herosect {
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;

    &::after {
        content: '';
        display: block;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.herosect__textwrap {
    z-index: 3;
    position: relative;
    max-width: 894px;
    margin: 0 auto;

    .title {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 13px;
    }

    p {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.118px;
        margin-bottom: 0;
    }
}

.signsection__content {
    padding: 50px;
}

.signlistbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    .iconwrap {
        width: 100%;
        max-width: 50px;
        flex: 0 0 50px;

        img {
            width: 100%;
        }
    }

    .description {
        width: 100%;
        max-width: calc(100% - 50px);
        flex: 0 0 calc(100% - 50px);
        padding-left: 18px;

        p {
            margin: 0;
            color: #666;
            font-size: 16px;
        }

        .title {
            font-size: 18px;
            margin-bottom: 2px;
            font-weight: 700;
        }
    }
}

.signformwrap {
    border-radius: 25px;
    background: #314E76;
    padding: 30px 50px;
}

.signform__title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 136%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 20px;
    justify-content: center;

    p {
        margin: 0;
        text-align: center;

    }

    img {
        width: 100%;
        width: 80px;
        margin-left: 20px;
    }
}

.signform__descr {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;

    p {
        margin: 0;
    }
}

.signformwrap {
    .inputfield {
        position: relative;
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 6px;
            color: #fff;
            font-weight: 500;
            line-height: normal;
        }

        .inpwrap {
            position: relative;

            .inputicon {
                width: 24px;
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
            }

            .tooglepass {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 12px;
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                opacity: 0.6;
                transition: 0.3s;

                &:hover {
                    opacity: 0.4;
                }

                img {
                    max-width: 100%;
                }
            }
        }

        input {
            width: 100%;
            background: #fff;
            height: 48px;
            border-radius: 10px;
            border: 2px solid #fff;
            padding-left: 48px;
            outline: none;
            letter-spacing: 0.5px;
            font-weight: 500;
            transition: 0.3s;

            &::placeholder {
                color: #999;
            }
        }

    }

    .forgotpass {
        color: #fff;
        font-size: 12px;
        text-align: center;
        margin-bottom: 12px;

        a {
            font-weight: 700;
            text-decoration: underline;
            color: #fff;

            &:hover {
                text-decoration: none;
                opacity: 0.7;
            }
        }
    }

    .checkfield {
        margin-bottom: 15px;
        color: #fff;
        text-align: center;

        input[type="checkbox"] {
            display: none;

            &:checked {
                &+label {
                    &::before {
                        background: url('../img/sign/check.png') no-repeat center / 100%;
                    }
                }
            }
        }

        label {
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;

            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 3px;
                border: 2px solid #fff;
                vertical-align: middle;
                margin-right: 6px;
            }
        }
    }

    .signsubmit {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        background: #6A7EFC;
        border: 1px solid #6A7EFC;
        transition: 0.5s;
        padding: 0;
        outline: none;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.1px;

        &:hover {
            box-shadow: 0 6px 10px #313237;
            background: #fff;
            color: #6A7EFC;
        }
    }


}

.signform__gethelp {
    margin-top: 18px;

    .ghtitle {
        color: #fff;
        font-size: 12px;
        max-width: 230px;
        margin: 0 auto 15px;
        position: relative;
        text-align: center;

        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            background: #fff;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        span {
            display: inline-block;
            background: #314e76;
            position: relative;
            z-index: 2;
            padding: 0 15px;
        }
    }
}

.ghlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;

        a {
            text-decoration: none;
            color: #fff;
            transition: 0.3s;

            &:hover {
                opacity: 0.8;
            }
        }

        img {
            margin-bottom: 3px;
            height: 40px;
            transition: 0.3s;
            border-radius: 50%;
            transform: scale(0.99);
        }

        p {
            font-size: 10px;
            font-weight: 300;
            margin: 0;
        }
    }
}

.signfollowus {
    padding-top: 100px;

    .title {
        position: relative;
        margin-bottom: 20px;
        font-weight: 600;
        color: #666;
        font-size: 32px;
        line-height: normal;
        text-align: center;

        &::after {
            content: '';
            display: block;
            height: 1px;
            background: #666;
            width: 100%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        span {
            display: inline-block;
            background: #fff;
            z-index: 2;
            position: relative;
            padding: 0 15px;
        }
    }




}

.signfollowus__list {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 8px;

            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: #6A7EFC;
                transition: 0.3s;

                &:hover {
                    background: #485ec4;
                    box-shadow: 0 0 10px #314E76;
                }
            }
        }
    }
}

.signfooter {
    padding: 10px 75px;
    background: #384869;
    height: 96px;
    display: flex;
    align-items: center;

    p {
        margin: 0;
        color: #fff;
        line-height: 125%;
        font-size: 16px;

        a {
            color: #3C63E2;
            text-decoration: underline;
            display: inline-block;
            margin: 0 20px;
            transition: 0.3s;

            &:hover {
                opacity: 0.6;
                color: #fff;
                text-decoration: none;
            }

            &:first-child {
                margin-left: 10px;
            }
        }
    }
}

.signformwrap .inputfield input {
    padding-right: 40px;
}

.signpage.v2 {

    .signsection {
        max-width: 850px;
    }

    .signlistbox {
        margin-bottom: 30px;
    }

    .signformwrap {
        padding: 30px;
    }

    .signlistbox .description p {
        font-size: 15px;
    }

    .signsection__content {
        padding: 50px 30px;
    }

    .signform__title {
        font-size: 21px;
    }

    .signform__title img {
        width: 60px;
    }



}

.signpage.v3 {

    .signsection {
        max-width: 1000px;
    }

    .signformwrap .inputfield input {
        font-weight: 400;
    }

    .signformwrap {
        padding: 35px 30px 30px 30px;
    }

    .signsection__content {
        padding: 50px 30px;
    }

}

.signpage.v4 {

    .signsection {
        max-width: 1000px;
    }

    .signformwrap .inputfield input {
        font-weight: 400;
    }

    .signformwrap {
        padding: 35px 30px 30px 30px;
    }

    .signformwrap {
        max-width: 400px;
        display: inline-block;
    }

    .signlistbox {
        margin-bottom: 30px;
    }

}

@media(max-width:1600.8px) {

    .signsection__herosect {
        height: 165px;
    }

    .herosect__textwrap .title {
        font-size: 24px;
    }

    .herosect__textwrap p {
        font-size: 14px;
    }

    .signpage {
        padding-top: 10px;
    }

    .signsection__content {
        padding: 30px 50px;
    }

    .signform__title {
        margin-bottom: 10px;
        font-size: 26px;

        img {
            width: 60px;
        }
    }

    .signform__descr {
        font-size: 14px;
    }

    .signformwrap .inputfield input {
        height: 42px;
    }

    .signlistbox {
        margin-bottom: 35px;
    }

    .signsection_wrapper {
        min-height: calc(100vh - 80px);
    }

    .signfooter {
        height: 80px;

        p {
            font-size: 14px;

            a {
                margin: 0 10px;
            }
        }
    }




}

@media(max-width:1440.8px) {

    .herosect__textwrap .title {
        font-size: 28px;
    }

    .signsection__herosect {
        height: 220px;
    }

    .signform__descr {
        font-size: 15px;
    }

    .signform__title {
        margin-bottom: 15px;
        font-size: 28px;
    }

    .signformwrap .inputfield {
        margin-bottom: 20px;
    }

    .signsection__content {
        padding: 50px;
    }

}

@media(max-width:1300.8px) {

    .signsection {
        max-width: 950px;
    }

    .herosect__textwrap .title {
        font-size: 24px;
    }

    .signsection__herosect {
        height: 170px;
    }

    .signlistbox .description .title {
        font-size: 16px;
        margin-bottom: 0;
    }

    .signlistbox .description p {
        font-size: 15px;
        line-height: 140%;
    }

    .signformwrap {
        padding: 30px;
        border-radius: 15px;
    }

    .signformwrap .inputfield label {
        font-size: 15px;
        font-weight: 400;
    }

    .signformwrap .inputfield {
        margin-bottom: 15px;
    }

}

@media(max-width:991.8px) {
    .signsection__content {
        .col-lg-6 {
            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
            }
        }

        .col-lg-7 {
            order: 2;
        }
    }

    .signsection {
        max-width: 700px;
        margin-bottom: 60px;
    }

    .signsection__herosect {
        height: 200px;
        padding: 10px 20px;
    }

    .signsection__content {
        padding: 40px;
    }

    .signform__title {
        font-size: 30px;
    }

    .signform__title img {
        width: 80px;
    }

    .signform__descr {
        font-size: 16px;
    }

    .signformwrap .inputfield label {
        font-size: 16px;
    }

    .signformwrap .inputfield {
        margin-bottom: 20px;
    }

    .signformwrap .inputfield input {
        height: 48px;
    }

    .ghlist li img {
        width: 46px;
    }

    .signlistsect {
        margin-top: 30px;
    }

    .signfollowus .title {
        font-size: 28px;
    }

    .signpage {
        padding-top: 30px;
    }

    .signfooter {
        padding: 10px 30px;
    }

    .signfooter p {
        font-size: 14px;
    }

    .signformwrap {
        max-width: 460px;
        margin: 0 auto;
    }

    .signpage.v2 .signsection,
    .signpage.v3 .signsection,
    .signpage.v4 .signsection {
        max-width: 700px;
    }

    .signpage.v4 .signformwrap {
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }

}

@media(max-width:767.8px) {

    .signsection {
        max-width: 500px;
    }

    .signsection__content {
        padding: 20px;
    }

    .signform__title {
        font-size: 24px;
    }

    .signform__title img {
        width: 70px;
    }

    .signfollowus .title {
        font-size: 24px;
    }

    .signfollowus__list ul li a {
        width: 40px;
        height: 40px;

        img {
            max-width: 20px;
            max-height: 20px;
        }
    }

    .signfooter p {
        span {
            display: block;
            margin-top: 5px;
        }
    }

    .signfooter p a:first-child {
        margin-left: 0;
    }


}

@media(max-width:575.8px) {
    .signsection__herosect {
        height: auto;
        padding: 20px;
    }

    .signpage {
        padding-top: 10px;
        width: 100%;
    }

    .signsection__content {
        padding: 10px 10px 25px 10px;
    }

    .signformwrap {
        padding: 25px 15px;
    }

    .signform__title {
        font-size: 21px;
    }

    .signform__title img {
        width: 60px;
        margin-left: 10px;
    }

    .signform__descr {
        font-size: 15px;
    }

    .signformwrap .inputfield input {
        height: 44px;
    }

    .signformwrap .inputfield input {
        padding-left: 40px;
    }

    .signformwrap .inputfield .inpwrap .inputicon {
        left: 10px;
        width: 20px;
    }

    .signlistbox .description {
        padding-left: 10px;
    }

    .signlistbox .description p {
        font-size: 14px;
    }

    .signlistbox .description .title {
        font-size: 15px;
    }

    .signlistbox {
        margin-bottom: 20px;
    }

    .signfollowus {
        padding-top: 50px;
    }

    .signfollowus .title {
        font-size: 18px;
    }

    .signfollowus__list ul li {
        margin: 0 2px;
    }

    .signsection {
        margin-bottom: 30px;
        width: calc(100% - 20px);
    }

    .signpage.v2 .signsection__content,
    .signpage.v3 .signsection__content {
        padding: 10px 10px 25px 10px;
    }

}

@media(max-width:360.8px) {
    .signfooter p a {
        margin: 0;
    }
}

@media (min-width:1601px) and (max-height:920px) {
    .signsection__herosect {
        height: 230px;
    }

    .signsection__content {
        padding: 40px 50px;
    }
}

@media (min-width:1601px) and (max-height:880px) {
    .signform__title {
        font-size: 21px;
        margin-bottom: 15px;
    }

    .signform__title img {
        width: 70px;
    }

    .signformwrap .inputfield input {
        height: 44px;
    }

    .signformwrap .forgotpass {
        margin-bottom: 8px;
    }

    .signform__gethelp .ghtitle {
        margin-bottom: 10px;
    }

    .signformwrap {
        padding: 25px 50px;
    }


}

@media (min-width:1200px) and (max-height:740px) {
    .signlistbox {
        margin-bottom: 30px;
    }

    .signformwrap {
        padding-bottom: 20px;
    }

    .signformwrap .forgotpass {
        margin-bottom: 8px;
    }

    .signformwrap .checkfield {
        margin-bottom: 10px;
    }

    .signfollowus .title {
        font-size: 24px;
    }

    .signformwrap {
        border-radius: 25px;
        background: #314E76;
        padding: 30px 40px;
    }

    .signpage.v2 .signsection__content {
        padding: 30px;
    }

    .signpage.v4 .signlistbox {
        margin-bottom: 25px;
    }
}



// Email error
.signerrormessage {
    margin: 10px 0 10px;

    p {
        margin: 0;
        font-size: 12px;
        line-height: 133%;
        color: #F2B8B5;
        padding: 9px 9px 9px 34px;
        border-radius: 10px;
        border: 2px solid #FFDAD9;
        background: url('../img/sign/error-ic.svg') no-repeat left 8px top 6px / 18px;

        a {
            color: #F2B8B5;
            font-weight: 600;

            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

.errorinputs {
    .inputfield {
        input {
            border: 2px solid #FFDAD9;
            background: #F2B8B5;
            padding-left: 24px;

            &::placeholder {
                color: #333;
            }
        }

        .inpwrap .inputicon {
            display: none;
        }

        .inpwrap .tooglepass {
            opacity: 1;
        }
    }
}

// Get Code
.signpage.signpage_lightblue {
    background: #EDF5FF;
    padding-top: 0;
}

.signcentersect {
    border-radius: 25px;
    background: #314E76;
    padding: 40px;
    max-width: 500px;
    margin: 0 auto;
}

.verificationcode {
    margin-bottom: 30px;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    input {
        width: 54px;
        height: 64px;
        border-radius: 5px;
        border: 1px solid #6A6A74;
        background: #FFF;
        margin: 0 2px;
        outline: none;
        text-align: center;
        font-size: 28px;
        font-weight: 600;
        color: #333;
    }
}

.signcentersect {
    font-family: 'Roboto', sans-serif;

    .logo {
        max-width: 110px;
        margin-bottom: 30px;
    }

    .title {
        margin-bottom: 30px;
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
    }

    .description {
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 30px;
    }

    .back {
        margin-top: 20px;
        display: inline-block;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 0.1px;
        text-decoration: none;
        margin-bottom: 30px;

        img {
            width: 25px;
            margin-top: -3px;
        }
    }

    p {
        color: #fff;
        font-size: 12px;
        line-height: normal;

        a {
            font-weight: 700;
            color: #fff;
            transition: 0.3s;

            &:hover {
                opacity: 0.7;
                text-decoration: none;
            }
        }
    }

    .signform__gethelp {
        margin-top: 30px;
    }

}

.signcentersect__wrapper {
   padding: 15px 0;
}

@media(max-width:1600.8px) {
    .signcentersect {
        max-width: 440px;
        border-radius: 20px;
        padding: 30px;
    }

    .signcentersect .logo {
        max-width: 80px;
        margin-bottom: 10px;
    }

    .signcentersect .title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .signcentersect .description {
        font-weight: 400;
        margin-bottom: 15px;
    }

    .verificationcode input {
        width: 46px;
        height: 56px;
    }

    .verificationcode {
        margin-bottom: 25px;
    }

    .signcentersect .back {
        font-weight: 500;
    }

    .signcentersect .back {
        margin: 15px 0;
    }

    .signcentersect .signform__gethelp {
        margin-top: 20px;
    }

    .signcentersect__wrapper {
        padding-bottom: 25px;
    }

}

@media(max-width:575.8px) {

    .signsection_wrapper {
        min-height: 100vh;
    }

    .signcentersect {
        max-width: 350px;
    }

    .signcentersect {
        padding: 20px 15px;
    }

    .verificationcode input {
        width: 42px;
        height: 52px;
    }
}

@media(max-width:360.8px) {

    .signcentersect {
        max-width: 310px;
    }

    .signcentersect {
        padding: 15px 10px;
    }

    .verificationcode input {
        width: 38px;
        height: 46px;
        margin: 0;
    }
}




// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;